#**AI Class**

In [ ]:
print("AI day2 class ")

AI day2 class

#Function in Python

In [ ]:
def area_of_square(num):
  return num*num
print(f"Area is {area_of_square(6)}")
print(f"Area is {area_of_square(7)}")

Area is 36
Area is 49

#Homework:Find area of circle

In [ ]:
radius = float(input("Enter the radius of the circle: "))

pi = 3.1416
area = pi * radius * radius

print(f"Area of the circle is:{area}")

Enter the radius of the circle: 7
Area of the circle is:153.9384

#List in python

In [ ]:
#list of fruits
fruits=["apple","banana","kiwi","orange","strawbery"]

#accessing elements
# print(fruits[0]) #accesing first elements
# print(fruits[4]) #accessing 5th elements
# print(fruits[-1]) #accessing last elements


#adding an elements from list
fruits.append("mango")
print(fruits)

# removing elements from list
fruits.remove("orange")
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'strawbery', 'mango']
['apple', 'banana', 'kiwi', 'strawbery', 'mango']

Tuples in python(Home-task)

In [ ]:
from types import MappingProxyType
#creating tuples
numbers = (10, 20, 30,40,20)
mixed = (1, "apple", 3.14,"Kathmandu")

# print(type(numbers))

# fruits = ("apple",)
# print(type(fruits))

#Accessing Tuple Elements
# print(numbers[0])
# print(mixed[1])
# print(mixed[-1])

#Loop Through a Tuple
# for item in numbers:
#     print(item)

#tuples in method
# print(numbers.count(20))
# print(mixed.index(3.14))
# print(len(mixed))

#add item in tuples-> can convert it into a list, add your item(s), and convert it back into a tuple
# number_list= list(numbers)
# number_list.append("70")
# numbers = tuple(number_list)
# print(numbers)


#del keyword in tuples
# del mixed
# print(mixed) #this will raise an error because the tuple no longer exists

#Sets in python(Home task)

In [ ]:
my_set = {1, 2, 3, 4}
print(my_set)

#set() constructor:
another_set = set([3, 4, 5,5])
print(another_set)#Sets automatically remove duplicate values

#add Elements
my_set.add(5)
print(my_set)

#Remove Elements
my_set.remove(2)
my_set.discard(10)

#Check Membership
print(3 in my_set)

#Set Operations
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

#Union –> Combine both sets
print(a | b)
print(a.union(b))

#Intersection –>Common elements

print(a & b)
print(a.intersection(b))

#Difference –>Elements in a but not in b

print(a - b)
print(a.difference(b))

#Symmetric Difference –> Elements in a or b but not both

print(a ^ b)
print(a.symmetric_difference(b))

{1, 2, 3, 4}
{3, 4, 5}
{1, 2, 3, 4, 5}
True
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}

#Dictionaries in python

In [ ]:
#creating a Dictionary
student={
    "name":"Maya Tamang",
    "age":21,
    "course" : "AI and its application"
}
#accessing value of particular key in student dictionary
print(student["age"])

#updating value of particular key in dictionary
student["age"]=22
print(student["age"])

#adding new key-value pair on dictionary
student["address"]="Baudha"
print(student)

#removing a key value pair from dictionary
del student["course"]
print(student)

21
22
{'name': 'Maya Tamang', 'age': 22, 'course': 'AI and its application', 'address': 'Baudha'}
{'name': 'Maya Tamang', 'age': 22, 'address': 'Baudha'}

#**Class Task**

In [ ]:
#build a tool that converts temperature between celsius and fahrenheit
temperature_celsius = float(input("Enter temperature in Celsius: "))

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32


temperature_fahrenheit = celsius_to_fahrenheit(temperature_celsius)

print(f"{temperature_celsius} degree Celcious is equal to {temperature_fahrenheit} degree Fahrenheit")

Enter temperature in Celsius: 20
20.0 degree Celcious is equal to 68.0 degree Fahrenheit

#String manipulation in python

In [ ]:
#creating variable text that contains leading and trailing spaces
text="  Hello Python  "
print(text)

#.lower() in python
print(text.lower())

#.strip() in python to remove whitespace
print(text.strip())

#.replace() to replace
print(text.replace("Python","Java"))

#splitting in string
splitted=text.strip().split() #function/method chaining
print(splitted)

# joining in string
joined="-".join(splitted) #join with (-)
print(joined)

  Hello Python
  hello python
Hello Python
  Hello Java
['Hello', 'Python']
Hello-Python